body {
  margin-top: 25px;
  background-color: #f8f9fa;
}

#my-video {
  position: fixed;
  margin-top: -25px;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.box {
  position: fixed;
  border: 1px solid white;
  background-color: white;
  opacity: 85%;
  margin-left: 20%;
  padding: 50px;
  border-radius: 500px;
  box-shadow: 0px 0px 25px -10px #65565f;
  max-width: 650px;
  height: 650px;
}
#icon {
  position: fixed;
  width: 150px;
}
h1 {
  text-align: left;
  margin-top: 50px;
  font-size: 45px;
  font-family: "mukta", "diact-gothic", "arial";
  font-weight: lighter;
  color: #464255;
}
.units {
  font-size: 16px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.col-6 {
  width: 20%;
  margin-left: 70px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
  font-family: "mukta", "diact-gothic", "arial";
}

h3 {
  text-align: center;
  font-family: "mukta", "diact-gothic", "arial";
  font-weight: lighter;
  font-size: 14px;
}
h4 {
  text-align: center;
  font-weight: lighter;
  font-family: "mukta", "diact-gothic", "arial";
  font-size: 12px;
}
.search {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 400px;
  border: 0.5px solid grey;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 100px;
  font-family: "mukta", "diact-gothic", "arial";
  font-weight: lighter;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -45px;
  padding: 5px 10px;
  border: 0.5px solid grey;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 60px;
  color: grey;
  background-color: white;
  font-family: "mukta", "diact-gothic", "arial";
  font-weight: lighter;
}
.days {
  text-align: center;
  display: inline;
  margin: 0 auto;
  padding: 20px;
  font-weight: lighter;
  font-family: "mukta", "diact-gothic", "arial";
}

.row {
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-left: 0px;
  width: 120%;
  font-size: 14px;
}

.date {
  text-align: center;
  display: inline;
  margin: 0 auto;
  padding: 20px;
  font-weight: lighter;
  font-family: "mukta", "diact-gothic", "arial";
}
.weather-forecast-temperature {
  text-align: center;
  display: inline;
  margin: 0 auto;
  padding: 20px;
  font-family: "mukta", "diact-gothic", "arial";
}

.footer {
  text-align: center;
  margin: 0 auto;
  margin-left: 160px;
  bottom: 0;
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
  opacity: 40%;
}

.weather-forecast-temperature-max {
  color: black;
  font-family: "mukta", "diact-gothic", "arial";
}
.weather-forecast-temperature-min {
  color: grey;
  font-weight: lighter;
  font-family: "mukta", "diact-gothic", "arial";
}

#code-link {
  font-style: italic;
  font-weight: lighter;
  font-family: "mukta", "diact-gothic", "arial";
}
